
.he1 {
 background-color: grey;
 border-style: solid;
 border-color: black;}
.chicken1 {
 background-color: pink;
 border-style: solid;
 border-color: black;}
.firstp {
 background-color: grey;
 border-style: solid;
 border-color: black;}
.beef1 {
  background-color: red;
  border-style: solid;
  border-color: black;}
.secondp {
  background-color: grey;
  border-style: solid;
  border-color: black;}
.sushi1 {
  background-color: yellow;
  border-style: solid;
  border-color: black;}
.thirdp {
  background-color: grey;
  border-style: solid;
  border-color: black;}
